Run create_table.py to see if tables can be created property 
- Make sure you open a RedShift cluster and make it publicly accessible

In [1]:
try:
    %run create_tables.py 
except Exception as e:
    print(e)

CREATE TABLE IF NOT EXISTS staging_events(
                                    artist VARCHAR,
                                    auth VARCHAR(255),
                                    first_name VARCHAR(255),
                                    gender VARCHAR(1),
                                    item_in_session INTEGER,
                                    last_name VARCHAR(255),
                                    length FLOAT,
                                    level VARCHAR(255),
                                    location VARCHAR(255),
                                    method VARCHAR(255),
                                    page VARCHAR(255),
                                    registration FLOAT,
                                    session_id BIGINT,
                                    song VARCHAR(255),
                                    status INTEGER,
                                    ts BIGINT,
                                    user_agent VARCHAR(255),
                                    user_id INTEGER);

CREATE TABLE IF NOT EXISTS staging_songs(

                            num_songs INTEGER,
                            artist_id VARCHAR(255),
                            artist_latitude FLOAT,
                            artist_longitude FLOAT,
                            artist_location VARCHAR(255),
                            artist_name VARCHAR(255),
                            song_id VARCHAR,
                            title VARCHAR(255),
                            duration FLOAT,
                            year FLOAT);

CREATE TABLE IF NOT EXISTS songplays(
                                songplay_id INTEGER IDENTITY(1,1) NOT NULL PRIMARY KEY,
                                start_time TIMESTAMP NOT NULL,
                                user_id INTEGER,
                                level VARCHAR,
                                song_id VARCHAR,
                                artist_id VARCHAR,
                                session_id INTEGER,
                                location VARCHAR,
                                user_agent VARCHAR
                                )
                                DISTSTYLE KEY
                                DISTKEY (start_time)
                                SORTKEY(start_time);

CREATE TABLE IF NOT EXISTS users(
                            user_id INTEGER PRIMARY KEY NOT NULL,
                            first_name VARCHAR(225),
                            last_name VARCHAR(225),
                            gender VARCHAR(1) ENCODE BYTEDICT,
                            level VARCHAR ENCODE BYTEDICT
                            )
                            SORTKEY(user_id);

CREATE TABLE IF NOT EXISTS songs(
                        song_id VARCHAR PRIMARY KEY NOT NULL,
                        title VARCHAR(255),
                        artist_id VARCHAR(255),
                        year INTEGER,
                        duration FLOAT
                        )
                        SORTKEY(song_id);

CREATE TABLE IF NOT EXISTS artists(
                            artist_id VARCHAR PRIMARY KEY NOT NULL,
                            name VARCHAR(255) ,
                            location VARCHAR(255),
                            latitude FLOAT,
                            longitude FLOAT
                            )
                            SORTKEY(artist_id);

CREATE TABLE IF NOT EXISTS time(
                            start_time TIMESTAMP PRIMARY KEY,
                            hour INTEGER,
                            day INTEGER,
                            week INTEGER,
                            month INTEGER,
                            year INTEGER,
                            weekday VARCHAR(20)
                            )
                            DISTSTYLE KEY
                            DISTKEY(start_time)
                            SORTKEY(start_time);

In [1]:
try:
    %run etl.py 
except Exception as e:
    print(e)

#Test tables with some Queries

In [3]:
import pandas as pd
import boto3
import json
import psycopg2

In [4]:
config_conn = configparser.ConfigParser()
config_conn.read('dwh.cfg')

# Run a query

query = ('''
SELECT * 
FROM artists
''')

conn = psycopg2.connect("host={} dbname={} user={} password={} port={}".format(*config_conn['CLUSTER'].values()))
df = pd.read_sql_query(query, conn)
conn.close()

df

,artist_id,name,location,latitude,longitude
0,AR00JIO1187B9A5A15,Saigon,Brooklyn,40.65507,-73.94888
1,AR00YYQ1187FB504DC,God Is My Co-Pilot,"New York, NY",40.71455,-74.00712
2,AR02LMQ1187B992AC9,The Classic Crime,"Seattle, WA",47.60356,-122.32944
3,AR03BDP1187FB5B324,Britney Spears,"Kentwood, LA; Los Angeles, CA",34.05349,-118.24532
4,AR03ESE1187B992BC5,Bon Voyage,,NaN,NaN
5,AR03P141187B9B8CE6,Teo Mammucari,,NaN,NaN
6,AR03Z7E1187FB44816,The Colourfield Featuring Sinead O'Connor,"Manchester, England",53.47960,-2.24881
7,AR04S8J1187FB48358,Clifford Brown,"Wilmington, DE",39.74023,-75.55084
8,AR05UYB1187B99B90F,General Electrics,"Paris, France",48.85692,2.34121
9,AR05VW21187FB407B4,Fudge Tunnel,Nottingham,52.94922,-1.14392
10,AR065TW1187FB4C3A5,Nearly God,"Knowle West, Bristol, Avon, Engla",51.43558,-2.57518
11,AR065TW1187FB4C3A5,Tricky / The Mad Dog Reflex,"Knowle West, Bristol, Avon, Engla",51.43558,-2.57518
12,AR06A4I1187B98C660,Rotersand,,NaN,NaN
13,AR06IFV1187B9977EC,MU330,"St. Louis, MO",NaN,NaN
14,AR06NFT1187B9B2902,The Ike Reilly Assassination,,NaN,NaN
15,AR06RZX1187B9B9864,Zélia Duncan,,NaN,NaN
16,AR06XSY1187B9B279E,Little River Band,"Melbourne, Australia",NaN,NaN
17,AR074XP1187B9985C5,Hagalaz' Runedance,,NaN,NaN
18,AR07F8T1187B9964BA,Guns n' Wankers,,NaN,NaN
19,AR07HWO1187B9A2189,Lil' Band O' Gold,,NaN,NaN
20,AR07SOR1187FB46179,The Goo Goo Dolls,"Buffalo, NY",NaN,NaN
21,AR08E891187B9A4FC8,As Cities Burn,"Baton Rouge, LA",30.44342,-91.18687
22,AR08V2C1187FB3C879,The Coctails,"Kansas City, MO",39.10295,-94.58306
23,AR09ON21187B9A966E,Cleopatra Stratan,,NaN,NaN
24,AR0A30I1187FB35F41,La Barranca,"Guadalajara, Jalisco",20.68759,-103.35108
25,AR0B1CH1187FB3A824,Charlie Rich,"Benton, Arkansas",34.56398,-92.58685
26,AR0BATO119B34038DB,The Dreamtree Project,,NaN,NaN
27,AR0BK8Y1187B9AF28A,Discover America,,NaN,NaN
28,AR0BV7E1187FB386C1,Lee Ritenour,"Hollywood, CA",NaN,NaN
29,AR0CARF1187FB47F54,Liane Foly,,NaN,NaN
...,...,...,...,...,...
9995,ARZKXOK1187FB53DA9,Paper Route,"Nashville, TN",NaN,NaN
9996,ARZLBSO1187B9985A6,Amistades Peligrosas,,NaN,NaN
9997,ARZLX2S1187B991A47,The Four Pennies,,NaN,NaN
9998,ARZMFT61187FB56B9F,Stan Van Samang,,NaN,NaN
9999,ARZMKFR1187FB3FC28,Echoing Green_ The,"Albuquerque, NM",35.08418,-106.64864
10000,ARZMWNY1187B99EBF1,Paul Geremia,"Providence, RI",41.82387,-71.41199
10001,ARZN1SN1187B9B29B3,Wizack Twizack,,NaN,NaN
10002,ARZN98V1187B990D1D,THERION,"Stockholm, Sweden",59.33217,18.06243
10003,ARZNQEM11F4C83B660,Les Paul and Mary Ford,,NaN,NaN
10004,ARZO9UQ1187FB4D261,Alliance Ethnik,"Creil, France",49.25953,2.47547
10005,ARZOCHY1187B9A5C36,Shinichi Osawa,,NaN,NaN
10006,ARZORKK11E2835CDA4,Vincent Vallières,Sherbrooke,45.40326,-71.88893
10007,ARZPDAD1187B98D940,Fattburger,,NaN,NaN
10008,ARZPIJD11F4C83B63D,Ames Brothers,"Malden, MA",42.42660,-71.07352
10009,ARZPQ3N1187FB56B7A,Rohff,,NaN,NaN
10010,ARZPU821187FB4995A,Sunlightsquare,Great Britain / UK,54.31392,-2.23218
10011,ARZPYZ11187FB4938A,MC Esoteric,,NaN,NaN
10012,ARZQ73J11A348EF889,Wayne Brady,,NaN,NaN
10013,ARZQ7QA1187B9AD08B,Prince,"Minneapolis, MN",NaN,NaN
10014,ARZQPVC1187B98EA20,Kortatu,,NaN,NaN
10015,ARZR8UX1187B98A24F,keller williams,"Fredericksburg, VA",38.30089,-77.45914
10016,ARZS5VW1187FB567E8,William Orbit,,NaN,NaN
10017,ARZU9NI1187B9AEE08,Babylon Disco,Karlstad,59.37991,13.49942
10018,ARZUVRN1269FB3759D,Mawatari Matsuko,,NaN,NaN
10019,ARZVAVD1187B9A489C,Young Deenay,,NaN,NaN
10020,ARZVGWX1187B9B3E5B,Mary Lou Lord,"Salem, MA",42.51557,-70.90725
10021,ARZVTQO1187FB3BD2A,Erin Bode,Saint Louis,38.62774,-90.19951
10022,ARZWWI41187FB3F104,Taktika,,NaN,NaN
10023,ARZXNFV1187B9BA2CD,Buddy Guy,"Lettsworth, LA",NaN,NaN
10024,ARZZMWO1187B9AFB36,Brutal Truth,"New York, NY",40.71455,-74.00712

NameError: name 'redshift' is not defined